

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-green-400/90 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
    <p>¡Hola! Soy Luis Narváez, pero puedes llamarme Narváez. Aunque estudié <strong>Medicina</strong>, descubrí que la <strong>Programación</strong> también es mi pasión.</p>
    <p>A lo largo de mi viaje, he tenido la suerte de <strong>ayudar a otros a aprender sobre programación</strong>, lógica y los fundamentos de la informática. Además, he iniciado reuniones mensuales para aquellos ansiosos por adentrarse más en el mundo de la programación.</p>
    <p>Como profesional médico, he logrado la distinción de estar clasificado entre los 50 mejores estudiantes de mi año. Mi aspiración actual es fusionar mis conocimientos médicos con la programación para crear aplicaciones y herramientas innovadoras para mis compañeros proveedores de atención médica.</p>
    </div>
  
    <img src="/projects/me.webp" class="rounded-full size-64 order-1 md:order-2" alt='Luis Narvaez picture'/>
  
  </article>
  