

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-green-400/90 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
      <p>
        Hi! I'm Luis Narvaez, but you can call me Narvaez. Although I've studied <strong>Medicine</strong>, I discovered that <strong>Coding</strong> is also my passion.
      </p>
  
      <p>
        Throughout my journey, I've been fortunate to <strong> help others learn about coding,</strong> logic, and the fundamentals of informatics. Additionally, I've initiated monthly meetings for those eager to delve deeper into the world of coding. 
      </p>
  
      <p>
        As <strong> Medical Professional</strong> I've achieved the distinction of being ranked among the top 50 students of my year. My current aspiration is to merge my medical knowledge with coding to <strong>create innovative applications</strong> and tools for fellow healthcare providers
      </p>
    </div>
  
    <img src="/projects/me.webp" class="rounded-full size-64 order-1 md:order-2" alt='Luis Narvaez picture'/>
  
  </article>
  