

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-green-400/90 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
      <p>
        Hey!, I'm Luis Narvaez, everyboyd call me by my last name, I studied Medicine however after years studying i found that coding is something that i enjoy.</strong
        >
      </p>
  
      <p>
        Some achievements<strong
          > help my peers to learn about coding, logic, and informatic basis.</strong
        > Also i started montly meetings for people that wants to know more about coding.
      </p>
  
      <p>
        As Medical Doctor <strong
          > i've been one of the top 50 Students from my year</strong
        >.  My current objective is to leverage my medical background to develop innovative apps and tools for fellow healthcare professionals.
      </p>
    </div>
  
    <img src="/me.webp" class="rounded-full size-64 order-1 md:order-2" alt='Luis Narvaez picture'/>
  
  </article>
  